{% extends "base.html.twig" %}


{% block main %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Modifier le post</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				{% if errors[0] != '' %}
					<div class="alert alert-danger" role="alert">
						<p>{{ errors[0] }}</p>
					</div>
				{% endif %}
				<form action="/updatePost/{{ id }}" class="post-preview mt-5" method="post">
					<div class="mb-3">
						<label for="title" class="form-label">Titre</label>
						<input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
					</div>
					<div class="mb-3">
						<label for="chapo" class="form-label">Chapo</label>
						<input type="text" class="form-control" id="chapo" name="chapo" value="{{ post.chapo }}">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label">Contenu</label>
						<input type="text" class="form-control" id="content" name="content" value="{{ post.content }}">
					</div>
					<button type="submit" class="btn btn-primary">Modifier le post</button>
				</form>
			</div>
		</div>
	</article>
{% endblock %}
