{% extends "base.html.twig" %}

{% block main %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1>{{ post.title }}</h1>
						<span class="subheading">{{ post.chapo }}</span>
						<span class="meta">
							Posté par
							<a href="#!">Hyacine Alnuma</a>
							le
							{{ post.lastUpdateDate }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				{% if commentSent == true and userRole == 'user'%}
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Votre commentaire a bien été pris en compte !</h4>
						<p>Votre commentaire doit tout d'abord être validé par un administrateur. Une fois cela fait, il sera visible par tout le monde !</p>
					</div>
				{% endif %}
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>{{ post.content }}</p>
				</div>
				{% if userRole == 'admin' %}
					<div class="d-flex justify-content-around mb-4">
						<a class="btn btn-primary text-uppercase" href="index.php?action=updatePost&amp;id={{ post.id }}">Modifier le post</a>
						<a class="btn btn-primary text-uppercase" href="index.php?action=deletePost&amp;id={{ post.id }}">Supprimer le post</a>
					</div>
				{% endif %}
				<!-- Divider-->
				<hr class="my-4"/>
				<h4>Commentaires</h4>
				{% for comment in comments %}
					<div class="post-preview">
						<p>{{ comment.content }}</p>
						<p class="post-meta">
							Posté par
							<a href="#">{{ comment.author }}</a>
							le
							{{ comment.lastUpdateDate }}
						</p>
					</div>
				{% endfor %}
				{% if loggedIn == true %}
					<form action="" class="post-preview mt-5" method="post">
						<div class="mb-3">
							<label for="content" class="form-label">Ajouter un commentaire</label>
							<input type="text" class="form-control" id="content" name="content">
						</div>
						<input type="submit" class="btn btn-primary">
					</form>
				{% endif %}
			</div>
		</div>
	</article>
{% endblock %}
