{% extends "base.html.twig" %}

{% block body %}
	<div>
		<h1>{{ post.title }}</h1>
		<h2>{{ post.chapo }}</h2>
		<p>{{ post.author }}</p>
		<p>{{ post.content }}</p>
		<p>{{ post.lastUpdateDate }}</p>
		<a href="index.php?action=updatePost&amp;id={{ post.id }}">Modifier le post</a>
		<a href="index.php?action=deletePost&amp;id={{ post.id }}">Supprimer le post</a>
	</div>
	{% for comment in comments %}
		<div>
			<h3>{{ comment.author }}</h3>
			<p>{{ comment.content }}</p>
			<p>{{ comment.lastUpdateDate }}</p>
		</div>
	{% endfor %}
	<form action="index.php?action=addedComment&amp;id={{ post.id }}" method="post">
		<label for="content">Ajouter un commentaire</label>
		<input type="text" id="content" name="content">
		<input type="submit">
	</form>
	<a href="index.php?action=posts">Retour aux posts</a>
{% endblock %}
